@import "../../../../../styling/base"

.abilities
    padding: 5px 0 0

    h2
        margin-bottom: 5px

    .ability-details
        text-align: left
        border-bottom: 1px solid #DFDFDF
        padding: 10px 0 5px

        .title
            text-transform: capitalize

@media(max-width: 640px)
    .abilities

        h2
            font-size: 1.2rem
            font-weight: 500

        span
            font-weight: 500

        p, span
            font-size: 0.8rem