<main [class]="profileColor">
    <header class="component">
        <fa-icon (click)="goBack()" [icon]="faChevronCircleLeft"></fa-icon>
    </header>
    
    <img [src]="avatarImg" [alt]="pokemonName + ' image'" />

    <div class="all-info" *ngIf="isLoading">
        <img src="../../../assets/transition/pokeball.gif" />
    </div>

    <div class="all-info" *ngIf="isLoading === false">
        <h1>{{ pokemonName }}</h1>

        <div class="tags-area">
            <app-pokemon-type 
                *ngFor="let type of pokemonTypes"
                [type]="type.name"
                [tagsIcons]="typeIcon"
                >
            </app-pokemon-type>
        </div>

        <p>{{ pokemonDesc }}</p>

        <div class="profile-options">
            <button 
                [class]="showStats ? 'current ' : 'sleep ' + profileColor + '-font'" 
                (click)="childDisplay('stats')">
                STATS
            </button>

            <button 
                [class]="showEvolution ? 'current ' : 'sleep ' + profileColor + '-font'" 
                (click)="childDisplay('evolution')">
                EVOLUTIONS
            </button>

            <button 
                [class]="showMoves ? 'current ' : 'sleep ' + profileColor + '-font'" 
                (click)="childDisplay('moves')">
                MOVES
            </button>
        </div>

        <app-stats 
            [ngStyle]="{ 'display': showStats ? 'inline' : 'none' }" 
            [stats]="pokemonStats" 
            [pokemonColor]="profileColor"
            [pokemonAbilities]="pokemonAbilities"
            [types]="pokemonTypes">
        </app-stats>

        <app-evolution
            [ngStyle]="{ 'display': showEvolution ? 'inline' : 'none' }"
            [pokemonID]="pokemonID"
            [pokemonColor]="profileColor">
        </app-evolution>

        <app-moves
            [ngStyle]="{ 'display': showMoves ? 'inline' : 'none' }"
            [moves]="pokemonMoves"
            [pokemonColor]="profileColor">
        >
        </app-moves>

    </div>
</main>
