$steel: #5596A4
$rock: #CEC18C
$psychic: #F87C7A
$poison: #B563CE
$normal: #9A9DA1
$ice: #7ED4C9
$ground: #D78555
$grass: #5DBE62
$ghost: #6970C5
$flying: #9BB4E8
$fire: #F8A54F
$fight: #D94256
$fairy: #EF97E6
$electric: #EDD53F
$dragon: #0773C7
$dark: #5F606D
$bug: #9DC130
$water: #559EDF


main
    text-align: center

    header
        padding: 10px 15px
        text-align: left

        fa-icon
            color: #fff
            font-size: 1.3rem

    img
        position: relative
        top: 50px
        max-width: 250px

    .all-info
        background-color: #fff
        border-top-right-radius: 25px
        border-top-left-radius: 25px
        padding-top: 50px

        h1
            text-transform: capitalize
            font-weight: 500

        p
            padding: 15px
            font-size: 0.9rem

@media(max-width: 640px)

    main
        img
            max-width: 150px

        h1
            font-size: 1.5rem

.steel
    background-color: $steel
.steel-font
    color: $steel

.rock
    background-color: $rock
.rock-font
    color: $rock

.psychic
    background-color: $psychic
.psychic-font
    color: $psychic

.poison
    background-color: $poison
.poison-font
    color: $poison

.normal
    background-color: $normal
.normal-font
    color: $normal

.ice
    background-color: $ice
.ice-font
    color: $ice

.ground
    background-color: $ground
.ground-font
    color: $ground

.grass
    background-color: $grass
.grass-font
    color: $grass

.ghost
    background-color: $ghost
.ghost-font
    color: $ghost

.flying
    background-color: $flying
.flying-font
    color: $flying

.fire
    background-color: $fire
.fire-font
    color: $fire

.fight
    background-color: $fight
.fight-font
    color: $fight

.fairy
    background-color: $fairy
.fairy-font
    color: $fairy

.electric
    background-color: $electric
.electric-font
    color: $electric

.dragon
    background-color: $dragon
.dragon-font
    color: $dragon

.dark
    background-color: $dark
.dark-font
    color: $dark

.bug
    background-color: $bug
.bug-font
    color: $bug

.water
    background-color: $water
.water-font
    color: $water