@import "../../../../../styling/base"

.phase
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: baseline
    text-transform: capitalize
    padding: 10px
    margin: 0 20px
    border-bottom: 1px solid #DFDFDF

    img
        max-width: 75px

    .phase-level
        display: flex
        flex-direction: column
        position: relative
        bottom: 15px

    p
        color: #666